@{
    ViewBag.Title = "Pham Thanh Dat";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.msv</h3>
<h3>@ViewBag.fullname</h3>

<address>
    K22CNT3<br />
    AspNet Mvc5<br />
    <abbr title="Phone">P:</abbr>
   0984868340
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:thanhdat160924@gmail.com">thanhdat160924@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>